#ignore /bin
/bin
 
#ignore conda-meta
/conda-meta

#ignore all logs
**/logs
logs
**/*.pyc

#ignore config
config.txt

#ignore all .txt
**/*.txt


#ignore vscode settings
/.vscode


#ignore all wandb files
wandb/
artifacts/


#ignore all training data in notebooks, experiment, and temp folders
/noteboks/*.csv
temp/
experiment/


#ignore snakemake logs
/.snakemake

